name: Build and Deploy
on:
  schedule:
    - cron: "0 8 * * *"

  workflow_dispatch:
    inputs:
      isDeploy:
        description: "Whether the build should be deployed?"
        type: boolean
        required: true
        default: false
      skipPython:
        description: "Skip building Python?"
        type: boolean
        required: true
        default: false
      isNightly:
        description: "Whether the build is a nightly build?"
        type: boolean
        required: true
        default: false
env:
  PIP_BREAK_SYSTEM_PACKAGES: 1

jobs:
  get-nightly-version:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'schedule' || github.event.inputs.isNightly == 'true' }}
    env:
      SKIP_COMMIT: true
    steps:
      - uses: actions/checkout@v4

      - name: Update nightly version
        run: |
          python3 -m pip install packaging
          python3 update-nightly-build-version.py | grep "New Python dev version:" | awk -F'New Python dev version: ' '{print $2}' | sed 's/\.$//' > version.txt
          cat version.txt
        working-directory: scripts
      
      - name: Upload version
        uses: actions/upload-artifact@v4
        with:
          name: version
          path: scripts/version.txt

  build-wheel-mac:
    if: ${{ github.event_name == 'schedule' || github.event.inputs.skipPython != 'true' }}
    uses: ./.github/workflows/mac-wheel-workflow.yml
    with:
      isNightly: ${{ github.event_name == 'schedule' || github.event.inputs.isNightly == 'true' }}
    secrets: inherit

  build-wheel-linux:
    if: ${{ github.event_name == 'schedule' || github.event.inputs.skipPython != 'true' }}
    uses: ./.github/workflows/linux-wheel-workflow.yml
    with:
      isNightly: ${{ github.event_name == 'schedule' || github.event.inputs.isNightly == 'true' }}
    secrets: inherit

  build-wheel-windows:
    if: ${{ github.event_name == 'schedule' || github.event.inputs.skipPython != 'true' }}
    uses: ./.github/workflows/windows-wheel-workflow.yml
    with:
      isNightly: ${{ github.event_name == 'schedule' || github.event.inputs.isNightly == 'true' }}
    secrets: inherit

  package-python-sdist:
    if: ${{ github.event_name == 'schedule' || github.event.inputs.skipPython != 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update nightly version
        if: ${{ github.event_name == 'schedule' || github.event.inputs.isNightly == 'true' }}
        env:
          SKIP_COMMIT: true
        run: |
          pip3 install packaging
          python3 update-nightly-build-version.py
        working-directory: scripts

      - name: Package Python sdist
        run: python package_tar.py
        working-directory: scripts/pip-package

      - name: Upload tarball
        uses: actions/upload-artifact@v4
        with:
          name: python-sdist
          path: scripts/pip-package/*.tar.gz

  deploy-python:
    permissions:
      id-token: write
    if: ${{ github.event_name == 'schedule' || github.event.inputs.skipPython != 'true' }}
    needs:
      [
        build-wheel-mac,
        build-wheel-linux,
        build-wheel-windows,
        package-python-sdist,
      ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: macos-wheels-arm64
          path: dist

      - uses: actions/download-artifact@v4
        with:
          name: macos-wheels-x86_64
          path: dist

      - uses: actions/download-artifact@v4
        with:
          name: linux-wheels-x86_64
          path: dist

      - uses: actions/download-artifact@v4
        with:
          name: windows-wheels
          path: dist

      - uses: actions/download-artifact@v4
        with:
          name: python-sdist
          path: dist

      - name: List wheels
        run: ls -l
        working-directory: dist

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: kuzu-deploy-wheels
          path: dist/*

      - name: Deploy to PyPI test
        if: ${{ github.event_name != 'schedule' && github.event.inputs.isDeploy != 'true' }}
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

      - name: Deploy to PyPI
        if: ${{ github.event_name == 'schedule' || github.event.inputs.isDeploy == 'true' }}
        uses: pypa/gh-action-pypi-publish@release/v1
