name: Build Windows Wheels

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      isNightly:
        type: boolean
        required: true
        default: false

jobs:
  build-wheels:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Update nightly version
        if: ${{ inputs.isNightly == true }}
        env:
          SKIP_COMMIT: true
        run: |
          python -m pip install packaging
          python update-nightly-build-version.py
        working-directory: ./scripts

      - name: Create source distribution
        working-directory: ./scripts/pip-package/
        shell: cmd
        run: |
          if exist wheelhouse rmdir /s /q wheelhouse
          mkdir wheelhouse
          python package_tar.py kuzu.tar.gz

      - name: Install cibuildwheel
        run: pipx install cibuildwheel

      - name: Build Wheels
        env:
          CIBW_ARCHS_WINDOWS: AMD64
          CIBW_SKIP: pp* cp36* cp37* cp38* cp39* cp310* cp311* cp312* cp314*
          CIBW_BUILD_VERBOSITY: 3
        shell: cmd
        working-directory: ./scripts/pip-package/
        run: |
          cibuildwheel "kuzu.tar.gz" --output-dir "wheelhouse"

      - uses: actions/upload-artifact@v4
        with:
          name: windows-wheels
          path: ./scripts/pip-package/wheelhouse/*.whl
